/* Universal Styles */
:root {
  --primaryLightColor: #39c6ab;
  --primaryDarkColor: #065464;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;700&display=swap');
body {
  direction: rtl;
  position: relative;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
section:nth-of-type(odd) {
  background-image: url('../Media/blueCover.jpg');
  & h2 {
    background-image: url(../Media/title-odd.png);
  }
  & h2,
  & h2 + p {
    color: white;
  }
}
section:nth-of-type(even) {
  background-image: url('../Media/whiteCover.jpg');
  & h2 {
    background-image: url(../Media/title-even.png);
  }
  & h2,
  & h2 + p {
    color: var(--primaryDarkColor);
  }
}
section:not(:first-of-type) {
  padding-bottom: 60px;
}
section,
.pop-up-form-container {
  padding-right: 20px;
  padding-left: 20px;
}
.container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container,
  #home form {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container,
  #home form {
    width: 970px;
  }
}
section h2,
section h2 + p {
  text-align: center;
}
section h2 {
  font-size: 48px;
  padding: 40px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
section h2 + p {
  font-size: 50px;
  font-weight: 500;
  margin-top: -20px;
}
@media (max-width: 768px) {
  section h2 {
    font-size: 36px;
  }
  section h2 + p {
    font-size: 30px;
  }
}
textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 6px;
}
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primaryDarkColor);
  border-radius: 3px;
}
textarea::-webkit-scrollbar-thumb {
  background: var(--primaryDarkColor);
  border-radius: 3px;
}

/* Header Styles */
header {
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(6 84 100 / 75%);
  box-shadow: inset 4px 4px 10px rgba(72, 108, 152, 0.25), inset -4px -4px 10px rgba(72, 108, 152, 0.25);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header i {
  cursor: pointer;
  color: var(--primaryLightColor);
  font-size: 20px;
}
header nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 768px) {
  header {
    flex-wrap: wrap-reverse;
    width: 300px;
    border-radius: 18px;
  }
  header img {
    width: 46px;
    height: 46px;
  }
  header nav {
    display: none;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-bottom: 12px;
  }
  header nav a {
    border: 1px solid var(--primaryLightColor);
    flex-basis: calc(50% - 5px);
    border-radius: 8px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  header {
    width: 600px;
    border-radius: 28px;
  }
  header img {
    height: 56px;
    width: 56px;
  }
  header i {
    display: none !important;
  }

  header nav a {
    padding: 10px 14px;
    border-radius: 10px;
    position: relative;
  }
  header nav a::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(6 84 100 / 85%);
    border-radius: 10px;
    transition-duration: .3s;
    width: 0;
    height: 0;
  }
  header nav a:hover::before {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 992px) {
  header {
    width: 800px;
  }
}

/* Home Styles */
#home {
  height: 100vh;
  position: relative;
}
#home .container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 25px;
}
#home p {
  line-height: 1.8;
  font-size: 28px;
  font-weight: 600;
  color: var(--primaryDarkColor);
}
#home button {
  padding: 12px 50px;
  font-size: 26px;
  font-weight: 600;
  background-color: transparent;
  color: var(--primaryDarkColor);
  margin-top: 30px;
  border: 2px solid rgb(6 84 100 / 50%);
  border-radius: 12px;
  cursor: pointer;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  gap: 10px;
}
#home button:hover {
  background: rgb(57 198 171 / 85%);
  gap: 20px;
}
.pop-up-form-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 1;
}
#home form {
  background-color: #065464;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 4px 4px 12px 6px var(--primaryLightColor), -4px -4px 12px 6px var(--primaryLightColor);
  color: #fff;
  position: relative;
}
#home form i {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: rgb(139, 31, 31);
  border-radius: 50%;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home label {
  font-size: 20px;
}
#home input:not([type=submit]),
#home textarea {
  margin: 4px 0 12px;
  width: 100%;
  background-color: rgb(57 198 171 / 50%);
  border: 2px solid var(--primaryLightColor);
  padding: 10px;
  border-radius: 8px;
  outline: none;
  color: #ddd;
}
#home input[type="submit"] {
  background-color: rgb(57 198 171 / 85%);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  transition-duration: .3s;
}
#home input[type="submit"]:hover {
  background-color: var(--primaryLightColor);
}
#home img {
  width: 330px;
  height: 330px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  #home .container {
    flex-direction: column;
    gap: 40px;
    justify-content: end;
  }
  #home .container button {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  #home h1 {
    font-size: 62px;
  }
  #home p {
    font-size: 32px;
  }
  #home img {
    width: 445px;
    height: 445px;
  }
}

/* about Styles */
#about p:nth-of-type(2) {
  margin-top: 20px;
}
#about p:not(:first-of-type) {
  color: var(--primaryDarkColor);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.8;
}
@media (max-width: 768px) {
  #about p:not(:first-of-type) {
    font-size: 22px;
  }
}

/* Services Styles */
#services .content {
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
#services .service {
  width: 300px;
  padding: 25px;
  border-radius: 18px;
  background-color: var(--primaryDarkColor);
}
#services .service img {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 64px;
}
#services .service h3 {
  text-align: center;
  font-size: 26px;
  color: white;
  margin: 15px 0;
}
#services .service p {
  color: #ddd;
  font-size: 18px;
  line-height: 1.4;
}

/* Why-us Styles */
#why-us .reason {
  margin-top: 35px;
  background-color: rgba(56 199 173 / 85%);
  border-radius: 18px;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  color: #eee;
}
#why-us .reason h3 {
  padding-right: 20px;
  border-right: 2px solid #065464d2;
  font-size: 30px;
}
#why-us .reason img {
  width: 65px;
  height: 65px;
}
#why-us .reason p {
  flex-basis: 100%;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
}

/* Blog Styles */
#blog .content {
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
#blog article {
  width: 250px;
  padding: 25px;
  border-radius: 24px;
  background-color: var(--primaryDarkColor);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
#blog img {
  border-radius: 16px;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
#blog h3 {
  color: var(--primaryLightColor);
  width: 40%;
  border-bottom: 2px solid var(--primaryLightColor);
  margin-top: 10px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 18px;
}
#blog article p {
  font-size: 20px;
  color: #EEE;
  font-weight: 600;
  line-height: 1.2;
  margin: 10px 0 15px;
}
#blog a {
  left: 0;
  bottom: 0;
  color: var(--primaryLightColor);
  text-decoration: none;
  align-self: end;
}
#blog a:hover i {
  animation: slidein .6s infinite;
}
@keyframes slidein {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-8px);
  }
}

/* Contact Styles */
#contact {
  background-image: url('../Media/whiteCover.jpg');
  padding: 50px 20px 20px;
}
#contact h2 {
  font-size: 36px;
  color: var(--primaryDarkColor);
}
#contact .grid-foot {
  display: grid;
  gap: 60px;
}
#contact input:not([type="submit"]),
#contact textarea {
  width: 100%;
  border: 2px solid var(--primaryDarkColor);
  margin-top: 15px ;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}
#contact input,
#contact textarea,
#contact ::placeholder {
  color: var(--primaryLightColor);
  text-align: right;
  font-size: 18px;
}
#contact button {
  border: none;
  color: white !important;
  background-color: var(--primaryDarkColor);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 15px;
  transition-duration: .3s;
}
#contact button:hover {
  background-color: rgb(6 84 100 / 80%);
}
#contact .social-platforms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 25px;
}
#contact .platform {
  width: 150px;
  height: 150px;
  border-radius: 15%;
  border: 2px solid var(--primaryLightColor);
  padding: 20px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: .3s;
  color: var(--primaryLightColor);
  font-size: 50px;
  text-decoration: none;
}
#contact .platform:hover {
  background-color: var(--primaryLightColor);
  color: white;
  border-radius: 25%;
}
@media (max-width: 768px) {
  #contact .social-platforms {
    width: fit-content;
    justify-self: center;
  }
}
@media (min-width: 768px) {
  #contact .grid-foot {
    grid-template-columns: repeat(2, 1fr);
  }
  #contact .social-platforms {
    height: fit-content;
    align-self: center;
  }
}
@media (min-width: 992px) {
  #contact .social-platforms {
    gap: 50px;
  }
  #contact .platform {
    width: 200px;
    height: 200px;
    font-size: 100px;
  }
}
